<TOI  >
  <Indentised>0</Indentised>
  <Isexport>0</Isexport>
  <Isexported>false</Isexported>
  <IndexSeqNo>1</IndexSeqNo>
  <LocationId>1</LocationId>
  <StatusId>1</StatusId>
  <SourceLocationId>14</SourceLocationId>
  <DestinationLocationId>20</DestinationLocationId>
  <DestinationAddress>Vestige Marketing Pvt. Ltd. Shop # CS-3 &amp; CS-4, 4-B Pls Plaza,Raja Road, 58 Gandhi Road, Near SBP Dehradun Uttarakhand India</DestinationAddress>
  <SourceAddress>Vestige Marketing Pvt. Ltd. GF-2, Ratan Square14/144, Chunni Ganj, Kanpur Uttar Pradesh India</SourceAddress>
  <TNumber>I/HO/15/02636</TNumber>
  <CreatedBy>1</CreatedBy>
  <ModifiedBy>1</ModifiedBy>
  <CreatedDate>2015-12-16 15:57:51</CreatedDate>
  <ModifiedDate>2015-12-16 16:18:35</ModifiedDate>
  <ExportMode>0</ExportMode>
  <StateId>0</StateId>
  <RemoveItems>
    <int>-1</int>
  </RemoveItems>
  <TOIItems>
    <TOIDetail>
      <AvailableQty>8831.0000</AvailableQty>
      <DisplayAvailableQty>8831</DisplayAvailableQty>
      <DBAvailableQty>8831</DBAvailableQty>
      <BucketId>5</BucketId>
      <BucketName>On-Hand</BucketName>
      <IndexSeqNo>-1</IndexSeqNo>
      <ModifiedBy>-1</ModifiedBy>
      <RowNo>-1</RowNo>
      <LineWeight>10684.00</LineWeight>
      <ItemUnitPrice>24.5000</ItemUnitPrice>
      <DisplayItemUnitPrice>24.50</DisplayItemUnitPrice>
      <DBItemUnitPrice>24.5000</DBItemUnitPrice>
      <ItemTotalAmount>2450.0000</ItemTotalAmount>
      <DisplayItemTotalAmount>2450.00</DisplayItemTotalAmount>
      <DBItemTotalAmount>2450.0000</DBItemTotalAmount>
      <UnitQty>100</UnitQty>
      <DisplayUnitQty>100</DisplayUnitQty>
      <DBUnitQty>100</DBUnitQty>
      <UOMId>1</UOMId>
      <UOMName>Each</UOMName>
      <ItemId>438</ItemId>
      <ItemCode>11023</ItemCode>
      <ItemName>Assure Soap 100 g</ItemName>
    </TOIDetail>
    <TOIDetail>
      <AvailableQty>180.0000</AvailableQty>
      <DisplayAvailableQty>180</DisplayAvailableQty>
      <DBAvailableQty>180</DBAvailableQty>
      <BucketId>5</BucketId>
      <BucketName>On-Hand</BucketName>
      <IndexSeqNo>-1</IndexSeqNo>
      <ModifiedBy>-1</ModifiedBy>
      <RowNo>-1</RowNo>
      <LineWeight>1510.00</LineWeight>
      <ItemUnitPrice>126.0000</ItemUnitPrice>
      <DisplayItemUnitPrice>126.00</DisplayItemUnitPrice>
      <DBItemUnitPrice>126.0000</DBItemUnitPrice>
      <ItemTotalAmount>1260.0000</ItemTotalAmount>
      <DisplayItemTotalAmount>1260.00</DisplayItemTotalAmount>
      <DBItemTotalAmount>1260.0000</DBItemTotalAmount>
      <UnitQty>10</UnitQty>
      <DisplayUnitQty>10</DisplayUnitQty>
      <DBUnitQty>10</DBUnitQty>
      <UOMId>1</UOMId>
      <UOMName>Each</UOMName>
      <ItemId>441</ItemId>
      <ItemCode>11025</ItemCode>
      <ItemName>Assure Active Deo (Men) 150 ml</ItemName>
    </TOIDetail>
  </TOIItems>
  <TotalTOIQuantity>110</TotalTOIQuantity>
  <DisplayTotalTOIQuantity>110</DisplayTotalTOIQuantity>
  <DBTotalTOIQuantity>110</DBTotalTOIQuantity>
  <TotalTOITaxAmount>0</TotalTOITaxAmount>
  <DisplayTotalTOITaxAmount>0</DisplayTotalTOITaxAmount>
  <DBTotalTOITaxAmount>0</DBTotalTOITaxAmount>
  <TotalTOIAmount>3710.0000</TotalTOIAmount>
  <DisplayTotalTOIAmount>3710.00</DisplayTotalTOIAmount>
  <DBTotalTOIAmount>3710.0000</DBTotalTOIAmount>
  <DBTotalTOIWeight>12.194</DBTotalTOIWeight>
  <DisplayTotalTOIWeight>12.19</DisplayTotalTOIWeight>
  <Percentage>30</Percentage>
  <PriceMode>1</PriceMode>
  <AppDep>2</AppDep>
  <POStatus>0</POStatus>
  <DisplayTOIDate />
  <DisplayCreationDate>01-01-0001</DisplayCreationDate>
  <FromTOIDate>0001-01-01T00:00:00</FromTOIDate>
  <ToTOIDate>0001-01-01T00:00:00</ToTOIDate>
  <TotalTOIWeight>12194.00</TotalTOIWeight>
  <FromCreationDate>0001-01-01T00:00:00</FromCreationDate>
  <ToCreationDate>0001-01-01T00:00:00</ToCreationDate>
</TOI>